<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('BackOffice/vendors/feather/feather.css') }}">
    <link rel="stylesheet" href="{{ asset('BackOffice/vendors/ti-icons/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{asset('BackOffice/vendors/css/vendor.bundle.base.css')}}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{asset('BackOffice/vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
    <link rel="stylesheet" href="{{asset('BackOffice/vendors/ti-icons/css/themify-icons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('BackOffice/js/select.dataTables.min.css')}}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{asset('BackOffice/css/vertical-layout-light/style.css')}}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{asset('BackOffice/images/favicon.png')}}" />
    <link href="{{asset('css/profile.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="{{asset('BackOffice/images/logo.png')}}" class="mr-2" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{{asset('BackOffice/images/boxBG.png')}}" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="icon-menu"></span>
            </button>
            <ul class="navbar-nav mr-lg-2">
                <li class="nav-item nav-search d-none d-lg-block">
                    <div class="input-group">
                        <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
                        </div>
                        <input type="text" style="width: 300px" class="form-control" id="navbar-search-input" placeholder="Search now by phone, email or username." aria-label="search" aria-describedby="search">
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i id="bell" class="icon-bell mx-0"></i>
                        <span id="count" class="count" hidden></span>
                    </a>
                    <div id="parentTest" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <p id="child" class="mb-0 font-weight-normal float-left dropdown-header" style="width: 100%">Notifications</p>

                    </div>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="{{ asset('uploads/images/profiles/'~ app.user.image) }}" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{{ path('profile') }}">
                            <i class="ti-settings text-primary"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="{{ path("logout") }}">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-settings d-none d-lg-flex">
                    <a class="nav-link" href="#">
                        <i class="icon-ellipsis"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="ti-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>
        <div id="right-sidebar" class="settings-panel">
            <i class="settings-close ti-close"></i>
            <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
                </li>
            </ul>
            <div class="tab-content" id="setting-content">
                <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
                    <div class="add-items d-flex px-3 mb-0">
                        <form class="form w-100">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                                <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                            </div>
                        </form>
                    </div>
                    <div class="list-wrapper px-3">
                        <ul class="d-flex flex-column-reverse todo-list">
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        Team review meeting at 3.00 PM
                                    </label>
                                </div>
                                <i class="remove ti-close"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        Prepare for presentation
                                    </label>
                                </div>
                                <i class="remove ti-close"></i>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox">
                                        Resolve all the low priority tickets due today
                                    </label>
                                </div>
                                <i class="remove ti-close"></i>
                            </li>
                            <li class="completed">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked>
                                        Schedule meeting for next week
                                    </label>
                                </div>
                                <i class="remove ti-close"></i>
                            </li>
                            <li class="completed">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked>
                                        Project review
                                    </label>
                                </div>
                                <i class="remove ti-close"></i>
                            </li>
                        </ul>
                    </div>
                    <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
                    <div class="events pt-4 px-3">
                        <div class="wrapper d-flex mb-2">
                            <i class="ti-control-record text-primary mr-2"></i>
                            <span>Feb 11 2018</span>
                        </div>
                        <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
                        <p class="text-gray mb-0">The total number of sessions</p>
                    </div>
                    <div class="events pt-4 px-3">
                        <div class="wrapper d-flex mb-2">
                            <i class="ti-control-record text-primary mr-2"></i>
                            <span>Feb 7 2018</span>
                        </div>
                        <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                        <p class="text-gray mb-0 ">Call Sarah Graves</p>
                    </div>
                </div>
                <!-- To do section tab ends -->
                <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
                    <div class="d-flex align-items-center justify-content-between border-bottom">
                        <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                        <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
                    </div>
                    <ul class="chat-list">
                        <li class="list active">
                            <div class="profile"><img src="{{asset('BackOffice/images/faces/face1.jpg')}}" alt="image"><span class="online"></span></div>
                            <div class="info">
                                <p>Thomas Douglas</p>
                                <p>Available</p>
                            </div>
                            <small class="text-muted my-auto">19 min</small>
                        </li>
                        <li class="list">
                            <div class="profile"><img src="{{asset('BackOffice/images/faces/face2.jpg')}}" alt="image"><span class="offline"></span></div>
                            <div class="info">
                                <div class="wrapper d-flex">
                                    <p>Catherine</p>
                                </div>
                                <p>Away</p>
                            </div>
                            <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                            <small class="text-muted my-auto">23 min</small>
                        </li>
                        <li class="list">
                            <div class="profile"><img src="{{asset('BackOffice/images/faces/face3.jpg')}}" alt="image"><span class="online"></span></div>
                            <div class="info">
                                <p>Daniel Russell</p>
                                <p>Available</p>
                            </div>
                            <small class="text-muted my-auto">14 min</small>
                        </li>
                        <li class="list">
                            <div class="profile"><img src="{{asset('BackOffice/images/faces/face4.jpg')}}" alt="image"><span class="offline"></span></div>
                            <div class="info">
                                <p>James Richardson</p>
                                <p>Away</p>
                            </div>
                            <small class="text-muted my-auto">2 min</small>
                        </li>
                        <li class="list">
                            <div class="profile"><img src="{{asset('BackOffice/images/faces/face5.jpg')}}" alt="image"><span class="online"></span></div>
                            <div class="info">
                                <p>Madeline Kennedy</p>
                                <p>Available</p>
                            </div>
                            <small class="text-muted my-auto">5 min</small>
                        </li>
                        <li class="list">
                            <div class="profile"><img src="{{asset('BackOffice/images/faces/face6.jpg')}}" alt="image"><span class="online"></span></div>
                            <div class="info">
                                <p>Sarah Graves</p>
                                <p>Available</p>
                            </div>
                            <small class="text-muted my-auto">47 min</small>
                        </li>
                    </ul>
                </div>
                <!-- chat tab ends -->
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html.twig">
                        <i class="icon-grid menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="icon-layout menu-icon"></i>
                        <span class="menu-title">UI Elements</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                        <i class="icon-columns menu-icon"></i>
                        <span class="menu-title">Form elements</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                        <i class="icon-bar-graph menu-icon"></i>
                        <span class="menu-title">Charts</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                        <i class="icon-grid-2 menu-icon"></i>
                        <span class="menu-title">Tables</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                        <i class="icon-contract menu-icon"></i>
                        <span class="menu-title">Icons</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="icons">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="icon-head menu-icon"></i>
                        <span class="menu-title">User Pages</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="{{ path('admin_listUsers') }}"> List Users </a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{ path('admin_addUser') }}"> Register </a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                        <i class="icon-ban menu-icon"></i>
                        <span class="menu-title">Reclamations</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="error">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="{{ path('reclamation') }}"> Reclamations </a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{ path('response') }}"> Responses </a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/documentation/documentation.html">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Documentation</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </div>


</div>


    <script src="{{asset('BackOffice/vendors/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{asset('BackOffice/vendors/chart.js/Chart.min.js')}}"></script>
    <script src="{{asset('BackOffice/vendors/datatables.net/jquery.dataTables.js')}}"></script>
    <script src="{{asset('BackOffice/vendors/datatables.net-bs4/dataTables.bootstrap4.js')}}"></script>
    <script src="js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{asset('BackOffice/js/off-canvas.js')}}"></script>
    <script src="{{asset('BackOffice/js/hoverable-collapse.js')}}"></script>
    <script src="{{asset('BackOffice/js/template.js')}}"></script>
    <script src="{{asset('BackOffice/js/settings.js')}}"></script>
    <script src="{{asset('BackOffice/js/todolist.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{{asset('BackOffice/js/dashboard.js')}}"></script>
    <script src="{{asset('BackOffice/js/Chart.roundedBarCharts.js')}}"></script>
<script>

    const url = new URL('https://localhost/.well-known/mercure');
    url.searchParams.append('topic', 'https://example.com/books/{id}');
    url.searchParams.append('topic', 'https://example.com/users/dunglas');
    // The URL class is a convenient way to generate URLs such as https://localhost/.well-known/mercure?topic=https://example.com/books/{id}&topic=https://example.com/users/dunglas

    const eventSource = new EventSource(url);
    const count= document.getElementById('count');
    // The callback will be called every time an update is published

    const beginjson='{'
        +'"reclamation": [';
    const endjson=']'
        +'}';

    let index=0;
    eventSource.onmessage = e =>{
        count.hidden=false;
        if (document.getElementById("nothing")){
            document.getElementById("nothing").remove()
        }
        const object=JSON.parse(e.data);
        index+=1;
        {#let url='{{ path("view_single_reclamtion",{"id":"reclId"}) }}'#}
        {#url=url.replace("reclId",object.reclId);#}
        {#document.getElementById('child').insertAdjacentHTML("afterend",'<a href="'+url+'" class="dropdown-item preview-item">'#}
        {#    +'<div class="preview-thumbnail">'#}
        {#    +'<div class="preview-icon bg-warning">'#}
        {#    +'<i class="ti-comment mx-0"></i>'#}
        {#    +'</div>'#}
        {#    +'</div>'#}
        {#    +'<div class="preview-item-content">'#}
        {#    +'<h6 class="preview-subject font-weight-normal">Complains</h6>'#}
        {#    +'<p class="font-weight-light small-text mb-0 text-muted">'#}
        {#    +   'New complain received from '+object.userId#}
        {#    +'</p>'#}
        {#    +'</div>'#}
        {#    +'</a>')#}

        // const midjson='{"userId": "'+object.userId+'",'
        //     +'"reclId": "'+object.reclId+'"}'
        let midjson=""
        console.log(window.localStorage.getItem("notRec")!=null);
        if (window.localStorage.getItem("notRec")!=null) {
            test = JSON.parse(window.localStorage.getItem("notRec"));
            test.reclamation.forEach(function (obj) {
                midjson += ',{"userId": "' + obj.userId + '",'
                    + '"reclId": "' + obj.reclId + '"}'

            })
        }
        midjson+=',{"userId": "'+object.userId+'",'
               +'"reclId": "'+object.reclId+'"}'
        midjson = midjson.replace(",", "");
        let finaljson=beginjson+midjson+endjson;
        // console.log(finaljson);
        // console.log(JSON.parse(finaljson))
    //     let json='{'
    //     +'"reclamation": [{'
    //         +'"userId": "'+object.userId+'",'
    //         +'"reclId": "'+object.reclId+'"'
    //     +'}]'
    // +'}';
        console.log("final JSON ",finaljson)
        window.localStorage.setItem("notRec",finaljson);
        displayNotifications();
        // const localJson=JSON.parse(window.localStorage.getItem("notRec"));
        // console.log(localJson.reclamation[0].userId);
    }
    document.getElementById("bell").addEventListener('click', ev => {

         if (document.getElementById("parentTest").childElementCount==1){
            document.getElementById('child').insertAdjacentHTML("afterend",'<p id="nothing" class="mb-0 font-weight-normal float-left dropdown-header">Nothing new</p>');
        }
        if (count.hidden===false){
            count.hidden=true;
        }
    })



    let midjson="";
    test=JSON.parse(window.localStorage.getItem("notRec"));
    test.reclamation.forEach(function (obj) {
        midjson +=',{"userId": "'+obj.userId+'",'
            +'"reclId": "'+obj.reclId+'"}'
    })
    midjson=midjson.replace(",","");
    let finaljson=beginjson+midjson+endjson;
    console.log(finaljson);
window.addEventListener('load',ev => displayNotifications())

 const displayNotifications = () => {
     notLocal=JSON.parse(window.localStorage.getItem("notRec"));
     if(notLocal!=null){
         notLocal.reclamation.forEach(function (obj) {
             let url='{{ path("view_single_reclamtion",{"id":"reclId"}) }}'
             url=url.replace("reclId",obj.reclId);
             document.getElementById('child').insertAdjacentHTML("afterend",'<a href="'+url+'" class="dropdown-item preview-item">'
                 +'<div class="preview-thumbnail">'
                 +'<div class="preview-icon bg-warning">'
                 +'<i class="ti-comment mx-0"></i>'
                 +'</div>'
                 +'</div>'
                 +'<div class="preview-item-content">'
                 +'<h6 class="preview-subject font-weight-normal">Complains</h6>'
                 +'<p class="font-weight-light small-text mb-0 text-muted">'
                 +   'New complain received from '+obj.userId
                 +'</p>'
                 +'</div>'
                 +'</a>')
         })
     }
 }

</script>
{% block js %}

{% endblock %}
</body>