{% extends 'BackOffice/baseAdmin.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        {% for user in listUsers %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a class="btn btn-danger" href="{{ path('admin_deleteUser',{'id':user.id}) }}">Delete</a>
                <a class="btn btn-warning" href="{{ path('admin_updateUser',{'id':user.id}) }}">Modify</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}