{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/ebc72dbf59.js" crossorigin="anonymous"></script>

{% endblock %}
{% block body %}
    <body>
    <div class="cont">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="{{ path('check_login') }}" method="post" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="_username" id="loginUsername"/>
                    </div>
                    <div style="width: 90%;" class="alert alert-danger" role="alert" id="errorLoginUsername" hidden>
                        Please enter a username.
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="_password" id="loginPass"/>
                    </div>
                    <div style="width: 90%;" class="alert alert-danger" role="alert" id="errorLoginPass" hidden>
                        password must be < 7 and contains special characters
                    </div>
                    <button type="submit" value="Login" class="butt solid" id="signIn">Sign in</button>
                    <p class="social-text">Or Sign in with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </form>
                {{ form_start(form) }}
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        {#<input type="text" placeholder="Username" />#}
                        {{ form_widget(form.username,{'attr': {'placeholder':'Username'}}) }}
                    </div>

                <div style="width: 90%;" class="alert alert-danger" role="alert" id="errorUsername" hidden>
                    Please enter a username.
                </div>


                    <div class="input-field" id="emailField">
                        <i class="fas fa-envelope"></i>
                        {# <input type="email" placeholder="Email" />#}
                        {{ form_widget(form.email,{'attr': {'placeholder':'Email'}}) }}

                    </div>

                    <div style="width: 90%; height: 60px" class="alert alert-danger" role="alert" id="errorEmail" hidden>
                        This should be a valid email.
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        {# <input type="password" placeholder="Password" />#}
                        {{ form_widget(form.password,{'attr': {'placeholder':'Password'}}) }}
                    </div>


                    <div style="width: 90%;" class="alert alert-danger" role="alert" id="errorPass" hidden>
                        password must be < 7 and contains special <characters></characters>.
                    </div>


                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    {# <input type="password" placeholder="Password" />#}
                    {{ form_widget(form.confirm_password,{'attr': {'placeholder':'Confirm password'}}) }}
                </div>

                <div style="width: 90%; height: 60px" class="alert alert-danger" role="alert" id="errorConfPass" hidden>
                    These password are not identical.
                </div>


                <button type="submit" class="butt" value="Sign up" id="signUp" >Sign up</button>
                    <p class="social-text">Or Sign up with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                        ex ratione. Aliquid!
                    </p>
                    <button class="butt transparent" id="sign-up-btn">
                        Sign up
                    </button>
                </div>
                <img src="{{ asset('image/log.svg') }}" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                        laboriosam ad deleniti.
                    </p>
                    <button class="butt transparent" id="sign-in-btn">
                        Sign in
                    </button>
                </div>
                <img src="{{ asset('image/register.svg') }}" class="image" alt="" />
            </div>
        </div>
    </div>
    <script src="{{ asset('js/app.js') }}"></script>
    </body>
{% endblock %}
